1. 경부고속도로 버스전용차로 

    평일 : 오산IC ~ 한남대교남단 (07:00 ~ 21:00)
    
    주말 : 신탄진IC ~ 한남대교남단 (07:00 ~ 21:00)
    
    
2. 영동고속도로 버스전용차로

    주말 : 신갈JC ~ 호법JC (07:00 ~ 21:00)

# 1. 데이터 불러오기(2019년 6월)

In [1]:
# 버스전용차로 구간통행속도
import pandas as pd
data1=pd.read_csv("C:/python/2-1. 원본데이터/1. 버스전용차로 구간통행속도/버스전용차로 구간통행속도 2019년 06월.csv",encoding="EUC-KR",index_col=0)

In [2]:
data1

,collectDate,collectHour,vdsId,conzoneId,conzoneName,laneTypeCode,laneType,avgSpeed,pageNo
0,20190601,7,0010VDE21900,0010CZE310,신탄진IC-남청주IC,2,버스차로,104.94,0
1,20190601,7,0010VDE22000,0010CZE310,신탄진IC-남청주IC,2,버스차로,117.38,0
2,20190601,7,0010VDE22100,0010CZE310,신탄진IC-남청주IC,2,버스차로,104.64,0
3,20190601,7,0010VDE22200,0010CZE310,신탄진IC-남청주IC,2,버스차로,89.02,0
4,20190601,7,0010VDE22300,0010CZE310,신탄진IC-남청주IC,2,버스차로,98.44,0
...,...,...,...,...,...,...,...,...,...
92381,20190630,20,0500VDS07500,0500CZS180,여주JC-이천IC,2,버스차로,104.85,41
92382,20190630,20,0500VDS07600,0500CZS180,여주JC-이천IC,2,버스차로,104.60,41
92383,20190630,20,0500VDS07700,0500CZS180,여주JC-이천IC,2,버스차로,104.34,41
92384,20190630,20,0500VDS07800,0500CZS180,여주JC-이천IC,2,버스차로,106.29,42
92385,20190630,20,0500VDS07900,0500CZS180,여주JC-이천IC,2,버스차로,-1.00,42

In [3]:
# 17. VDS지점 교통량속도지정체 분석
import os, glob
import os.path
 
targerdir = r"C:/python/2-1. 원본데이터/17. VDS지점 교통량속도지정체 분석"
files = os.listdir(targerdir)
files

['VDS_84_04_01_140751.csv',
 'VDS_84_04_01_148625.csv',
 'VDS_84_04_01_159428.csv',
 'VDS_84_04_01_178685.csv',
 'VDS_84_04_01_203283.csv',
 'VDS_84_04_01_225501.csv',
 'VDS_84_04_01_227057.csv',
 'VDS_84_04_01_270912.csv',
 'VDS_84_04_01_294534.csv',
 'VDS_84_04_01_405224.csv',
 'VDS_84_04_01_445753.csv',
 'VDS_84_04_01_511062.csv',
 'VDS_84_04_01_521866.csv',
 'VDS_84_04_01_599749.csv',
 'VDS_84_04_01_605639.csv',
 'VDS_84_04_01_631794.csv',
 'VDS_84_04_01_663472.csv',
 'VDS_84_04_01_706350.csv',
 'VDS_84_04_01_720877.csv',
 'VDS_84_04_01_736625.csv',
 'VDS_84_04_01_746452.csv',
 'VDS_84_04_01_754509.csv',
 'VDS_84_04_01_786370.csv',
 'VDS_84_04_01_818048.csv',
 'VDS_84_04_01_845179.csv',
 'VDS_84_04_01_855616.csv',
 'VDS_84_04_01_861323.csv',
 'VDS_84_04_01_953337.csv',
 'VDS_84_04_01_975371.csv',
 'VDS_84_04_01_991912.csv']

In [4]:
# 빈데이터 프레임 만들기
data17 = pd.DataFrame(columns = ["기준시간","기준시","기준일","VDS_ID","요일명","지점이정","노드명","도로이정","노선번호","도로명","교통량","평균속도","Unnamed: 12"])
data17

Empty DataFrame
Columns: [기준시간, 기준시, 기준일, VDS_ID, 요일명, 지점이정, 노드명, 도로이정, 노선번호, 도로명, 교통량, 평균속도, Unnamed: 12]
Index: []

In [5]:
for i in files:
    data = pd.read_csv(f"C:/python/2-1. 원본데이터/17. VDS지점 교통량속도지정체 분석/{i}",encoding="EUC-KR",sep="|")
    data17= pd.concat([data17,data])

In [6]:
# VDS 차로교통량 1시간 1개월 데이터 불러오기
교통량 = pd.read_csv("C:/python/2-1. 원본데이터/18. VDS 차로교통량 1시간 1개월/VDS_차로교통량_1시간_1개월_201906.txt", encoding="UTF-8",sep="|",index_col=False)
교통량

# VDS 차로통행속도 1시간 1개월 데이터 불러오기
통행속도 = pd.read_csv("C:/python/2-1. 원본데이터/19. VDS 차로통행속도_1시간_1개월_201906/VDS_차로통행속도_1시간_1개월_201906.txt", encoding="UTF-8",sep="|",index_col=False)
통행속도

              집계일자  집계시        VDS_ID  차로번호  평균통행속도
0         20190602    1  1300VDE00010     1  122.11
1         20190602    1  1300VDE00010     3   95.41
2         20190602    1  1300VDE00010     4   96.45
3         20190602    1  0150VDS20300     2   95.37
4         20190602    1  0150VDS20300     1  105.87
...            ...  ...           ...   ...     ...
13065816  20190630   23  0450VDS14500     1  130.90
13065817  20190630   23  0400VDE09500     2   98.97
13065818  20190630   23  0400VDE09500     1  123.12
13065819  20190630   23  0010VDS24700     2   89.68
13065820  20190630   23  0010VDS24700     1  102.40

[13065821 rows x 5 columns]

# 2. 데이터 합치기

In [7]:
VDS_교통_속도 = pd.concat([교통량,통행속도],axis=1)

In [8]:
VDS_교통_속도 = VDS_교통_속도.iloc[:,[0,1,2,3,4,-1]]
VDS_교통_속도

              집계일자  집계시        VDS_ID  차로번호  교통량  평균통행속도
0         20190602    1  1300VDE00010     1   26  122.11
1         20190602    1  1300VDE00010     3  102   95.41
2         20190602    1  1300VDE00010     4  132   96.45
3         20190602    1  0150VDS20300     2  177   95.37
4         20190602    1  0150VDS20300     1  178  105.87
...            ...  ...           ...   ...  ...     ...
13065816  20190630   23  0450VDS14500     1  323  130.90
13065817  20190630   23  0400VDE09500     2  134   98.97
13065818  20190630   23  0400VDE09500     1   44  123.12
13065819  20190630   23  0010VDS24700     2  575   89.68
13065820  20190630   23  0010VDS24700     1  367  102.40

[13065821 rows x 6 columns]

In [9]:
vds_지정_도로명 = data17.iloc[:,[3,5]]
vds_지정이정 = vds_지정_도로명.groupby('VDS_ID')['지점이정'].mean()

In [10]:
vds = pd.DataFrame(vds_지정이정)
vds = vds.reset_index()

In [11]:
vds_final = pd.merge(VDS_교통_속도, vds, on="VDS_ID", how="left")

In [12]:
vds_final

              집계일자  집계시        VDS_ID  차로번호  교통량  평균통행속도    지점이정
0         20190602    1  1300VDE00010     1   26  122.11    0.11
1         20190602    1  1300VDE00010     3  102   95.41    0.11
2         20190602    1  1300VDE00010     4  132   96.45    0.11
3         20190602    1  0150VDS20300     2  177   95.37  230.40
4         20190602    1  0150VDS20300     1  178  105.87  230.40
...            ...  ...           ...   ...  ...     ...     ...
13065816  20190630   23  0450VDS14500     1  323  130.90  164.90
13065817  20190630   23  0400VDE09500     2  134   98.97  124.58
13065818  20190630   23  0400VDE09500     1   44  123.12  124.58
13065819  20190630   23  0010VDS24700     2  575   89.68  316.50
13065820  20190630   23  0010VDS24700     1  367  102.40  316.50

[13065821 rows x 7 columns]

# 3. 경부고속도로, 영동고속도로, 수도권제1순환고속도로 나누기

In [13]:
vds_final['도로번호']=vds_final['VDS_ID'].map(lambda x : x[:4])

In [14]:
vds_final

              집계일자  집계시        VDS_ID  차로번호  교통량  평균통행속도    지점이정  도로번호
0         20190602    1  1300VDE00010     1   26  122.11    0.11  1300
1         20190602    1  1300VDE00010     3  102   95.41    0.11  1300
2         20190602    1  1300VDE00010     4  132   96.45    0.11  1300
3         20190602    1  0150VDS20300     2  177   95.37  230.40  0150
4         20190602    1  0150VDS20300     1  178  105.87  230.40  0150
...            ...  ...           ...   ...  ...     ...     ...   ...
13065816  20190630   23  0450VDS14500     1  323  130.90  164.90  0450
13065817  20190630   23  0400VDE09500     2  134   98.97  124.58  0400
13065818  20190630   23  0400VDE09500     1   44  123.12  124.58  0400
13065819  20190630   23  0010VDS24700     2  575   89.68  316.50  0010
13065820  20190630   23  0010VDS24700     1  367  102.40  316.50  0010

[13065821 rows x 8 columns]

In [15]:
## 경부고속도로만 뽑아보자! 도로번호 : 0010
경부선 = vds_final[vds_final['도로번호'] == "0010"]
경부선 = 경부선.sort_values(by=['집계일자','집계시','VDS_ID'],ignore_index=True)

In [16]:
## 영동고속도로만 뽑아보자! 도로번호 : 0500
영동선 = vds_final[vds_final['도로번호'] == "0500"]
영동선 = 영동선.sort_values(by=['집계일자','집계시','VDS_ID'],ignore_index=True)

In [17]:
## 수도권제1순환고속도로 뽑아보자! 도로번호 : 1000
수도권제1순환선 = vds_final[vds_final['도로번호'] == "1000"]
수도권제1순환선 = 수도권제1순환선.sort_values(by=['집계일자','집계시','VDS_ID'],ignore_index=True)

## 3-1.  VDS_ID 별 거리 계산

### 1) 경부선

In [18]:
# 거리 계산
distance = pd.DataFrame(경부선.groupby('VDS_ID')['지점이정'].mean())
distance = distance.reset_index()
distance

           VDS_ID    지점이정
0    0010VDE00100    1.40
1    0010VDE00200    2.40
2    0010VDE00300    3.30
3    0010VDE00400    4.50
4    0010VDE00500    5.10
..            ...     ...
832  0010VDS32400  416.90
833  0010VDS32500  418.40
834  0010VDS32501  419.43
835  0010VDS32502  421.01
836  0010VDS32503  422.37

[837 rows x 2 columns]

In [19]:
distance['상하행 구분']=distance['VDS_ID'].map(lambda x : x[6:7])
E_distance = distance[distance['상하행 구분'] == "E"]
S_distance = distance[distance['상하행 구분'] == "S"]

In [20]:
# 빈 거리 열 만들기
E_distance['거리'] = 0
E_distance

<ipython-input-20-e1cb47704daa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  E_distance['거리'] = 0

           VDS_ID    지점이정 상하행 구분  거리
0    0010VDE00100    1.40      E   0
1    0010VDE00200    2.40      E   0
2    0010VDE00300    3.30      E   0
3    0010VDE00400    4.50      E   0
4    0010VDE00500    5.10      E   0
..            ...     ...    ...  ..
411  0010VDE32400  416.90      E   0
412  0010VDE32500  418.40      E   0
413  0010VDE32501  419.43      E   0
414  0010VDE32502  421.01      E   0
415  0010VDE32503  422.37      E   0

[416 rows x 4 columns]

In [21]:
for i in range(len(E_distance)):
    if i == 0:
        E_distance['거리'].iloc[i] = E_distance['지점이정'].iloc[i]
    else:
        E_distance['거리'].iloc[i] = E_distance['지점이정'].iloc[i] - E_distance['지점이정'].iloc[i-1]

C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [22]:
# 빈 거리 열 만들기
S_distance['거리'] = 0
S_distance

<ipython-input-22-06c3c092aabf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  S_distance['거리'] = 0

           VDS_ID    지점이정 상하행 구분  거리
416  0010VDS00100    1.40      S   0
417  0010VDS00200    2.40      S   0
418  0010VDS00300    3.30      S   0
419  0010VDS00400    4.50      S   0
420  0010VDS00500    5.10      S   0
..            ...     ...    ...  ..
832  0010VDS32400  416.90      S   0
833  0010VDS32500  418.40      S   0
834  0010VDS32501  419.43      S   0
835  0010VDS32502  421.01      S   0
836  0010VDS32503  422.37      S   0

[421 rows x 4 columns]

In [23]:
for i in range(len(S_distance)):
    if i == 0:
        S_distance['거리'].iloc[i] = S_distance['지점이정'].iloc[i]
    else:
        S_distance['거리'].iloc[i] = S_distance['지점이정'].iloc[i] - S_distance['지점이정'].iloc[i-1]

C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [24]:
distance_final=pd.concat([E_distance,S_distance])

In [25]:
distance_final = distance_final.iloc[:,[0,3]]

In [ ]:
distance_final

### 2) 영동선

In [ ]:
# 거리 계산
distance_영동 = pd.DataFrame(영동선.groupby('VDS_ID')['지점이정'].mean())
distance_영동 = distance_영동.reset_index()
distance_영동

In [28]:
distance_영동['상하행 구분']=distance_영동['VDS_ID'].map(lambda x : x[6:7])
E_distance_영동 = distance_영동[distance_영동['상하행 구분'] == "E"]
S_distance_영동 = distance_영동[distance_영동['상하행 구분'] == "S"]

In [29]:
# 빈 거리 열 만들기
E_distance_영동['거리'] = 0
S_distance_영동['거리'] = 0

<ipython-input-29-6c6527977a0f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  E_distance_영동['거리'] = 0
<ipython-input-29-6c6527977a0f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  S_distance_영동['거리'] = 0

In [30]:
for i in range(len(E_distance_영동)):
    if i == 0:
        E_distance_영동['거리'].iloc[i] = E_distance_영동['지점이정'].iloc[i]
    else:
        E_distance_영동['거리'].iloc[i] = E_distance_영동['지점이정'].iloc[i] - E_distance_영동['지점이정'].iloc[i-1]

C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [31]:
for i in range(len(S_distance_영동)):
    if i == 0:
        S_distance_영동['거리'].iloc[i] = S_distance_영동['지점이정'].iloc[i]
    else:
        S_distance_영동['거리'].iloc[i] = S_distance_영동['지점이정'].iloc[i] - S_distance_영동['지점이정'].iloc[i-1]

In [32]:
distance_final_영동=pd.concat([E_distance_영동,S_distance_영동])

In [33]:
distance_final_영동 = distance_final_영동.iloc[:,[0,3]]

In [34]:
distance_final_영동

           VDS_ID    거리
0    0500VDE00100  1.30
1    0500VDE00200  1.00
2    0500VDE00300  1.10
3    0500VDE00400  1.50
4    0500VDE00500  1.15
..            ...   ...
500  0500VDS18800  1.10
501  0500VDS19000  2.00
502  0500VDS19100  1.30
503  0500VDS19200  1.20
504  0500VDS19300  1.20

[505 rows x 2 columns]

### 3) 수도권제1순환선

In [35]:
# 거리 계산
distance_순환 = pd.DataFrame(수도권제1순환선.groupby('VDS_ID')['지점이정'].mean())
distance_순환 = distance_순환.reset_index()
distance_순환

           VDS_ID   지점이정
0    1000VDE00100    0.1
1    1000VDE00200    1.6
2    1000VDE00300    2.5
3    1000VDE00400    3.5
4    1000VDE00500    4.3
..            ...    ...
245  1000VDS07100  121.8
246  1000VDS07200  123.6
247  1000VDS07300  124.4
248  1000VDS07400  125.2
249  1000VDS07500  127.2

[250 rows x 2 columns]

In [36]:
distance_순환['상하행 구분']=distance_순환['VDS_ID'].map(lambda x : x[6:7])
E_distance_순환 = distance_순환[distance_순환['상하행 구분'] == "E"]
S_distance_순환 = distance_순환[distance_순환['상하행 구분'] == "S"]

In [37]:
# 빈 거리 열 만들기
E_distance_순환['거리'] = 0
E_distance_순환

<ipython-input-37-0ada8105c0a1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  E_distance_순환['거리'] = 0

           VDS_ID   지점이정 상하행 구분  거리
0    1000VDE00100    0.1      E   0
1    1000VDE00200    1.6      E   0
2    1000VDE00300    2.5      E   0
3    1000VDE00400    3.5      E   0
4    1000VDE00500    4.3      E   0
..            ...    ...    ...  ..
122  1000VDE07100  121.8      E   0
123  1000VDE07200  123.6      E   0
124  1000VDE07300  124.4      E   0
125  1000VDE07400  125.2      E   0
126  1000VDE07500  127.2      E   0

[127 rows x 4 columns]

In [38]:
for i in range(len(E_distance_순환)):
    if i == 0:
        E_distance_순환['거리'].iloc[i] = E_distance_순환['지점이정'].iloc[i]
    else:
        E_distance_순환['거리'].iloc[i] = E_distance_순환['지점이정'].iloc[i] - E_distance_순환['지점이정'].iloc[i-1]

C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [39]:
# 빈 거리 열 만들기
S_distance_순환['거리'] = 0
S_distance_순환

<ipython-input-39-855a89cbf164>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  S_distance_순환['거리'] = 0

           VDS_ID   지점이정 상하행 구분  거리
127  1000VDS00100    0.1      S   0
128  1000VDS00200    1.6      S   0
129  1000VDS00300    2.5      S   0
130  1000VDS00400    3.5      S   0
131  1000VDS00500    4.3      S   0
..            ...    ...    ...  ..
245  1000VDS07100  121.8      S   0
246  1000VDS07200  123.6      S   0
247  1000VDS07300  124.4      S   0
248  1000VDS07400  125.2      S   0
249  1000VDS07500  127.2      S   0

[123 rows x 4 columns]

In [40]:
for i in range(len(S_distance_순환)):
    if i == 0:
        S_distance_순환['거리'].iloc[i] = S_distance_순환['지점이정'].iloc[i]
    else:
        S_distance_순환['거리'].iloc[i] = S_distance_순환['지점이정'].iloc[i] - S_distance_순환['지점이정'].iloc[i-1]

C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [41]:
distance_final_순환=pd.concat([E_distance_순환,S_distance_순환])
distance_final_순환 = distance_final_순환.iloc[:,[0,3]]
distance_final_순환

           VDS_ID   거리
0    1000VDE00100  0.1
1    1000VDE00200  1.5
2    1000VDE00300  0.9
3    1000VDE00400  1.0
4    1000VDE00500  0.8
..            ...  ...
245  1000VDS07100  1.5
246  1000VDS07200  1.8
247  1000VDS07300  0.8
248  1000VDS07400  0.8
249  1000VDS07500  2.0

[250 rows x 2 columns]

## 3-2. VDS데이터와 거리 데이터 합치기

### 1) 경부선

In [42]:
경부선

             집계일자  집계시        VDS_ID  차로번호  교통량  평균통행속도    지점이정  도로번호
0        20190601    0  0010VDE00100     2  225   -1.00    1.40  0010
1        20190601    0  0010VDE00100     1  120   -1.00    1.40  0010
2        20190601    0  0010VDE00100     3   81  101.61    1.40  0010
3        20190601    0  0010VDE00200     2  209   -1.00    2.40  0010
4        20190601    0  0010VDE00200     1  142   95.66    2.40  0010
...           ...  ...           ...   ...  ...     ...     ...   ...
2054577  20190630   23  0010VDS32503     2   -1   -1.00  422.37  0010
2054578  20190630   23  0010VDS32503     1   -1   -1.00  422.37  0010
2054579  20190630   23  0010VDS32503     3   -1   -1.00  422.37  0010
2054580  20190630   23  0010VDS32503     4   -1   -1.00  422.37  0010
2054581  20190630   23  0010VDS32503     5   -1   -1.00  422.37  0010

[2054582 rows x 8 columns]

In [43]:
경부선_final=pd.merge(경부선,distance_final,how='left',on="VDS_ID")

In [44]:
경부선_final

             집계일자  집계시        VDS_ID  차로번호  교통량  평균통행속도    지점이정  도로번호    거리
0        20190601    0  0010VDE00100     2  225   -1.00    1.40  0010  1.40
1        20190601    0  0010VDE00100     1  120   -1.00    1.40  0010  1.40
2        20190601    0  0010VDE00100     3   81  101.61    1.40  0010  1.40
3        20190601    0  0010VDE00200     2  209   -1.00    2.40  0010  1.00
4        20190601    0  0010VDE00200     1  142   95.66    2.40  0010  1.00
...           ...  ...           ...   ...  ...     ...     ...   ...   ...
2054577  20190630   23  0010VDS32503     2   -1   -1.00  422.37  0010  1.36
2054578  20190630   23  0010VDS32503     1   -1   -1.00  422.37  0010  1.36
2054579  20190630   23  0010VDS32503     3   -1   -1.00  422.37  0010  1.36
2054580  20190630   23  0010VDS32503     4   -1   -1.00  422.37  0010  1.36
2054581  20190630   23  0010VDS32503     5   -1   -1.00  422.37  0010  1.36

[2054582 rows x 9 columns]

### 2) 영동선

In [45]:
영동선

            집계일자  집계시        VDS_ID  차로번호  교통량  평균통행속도   지점이정  도로번호
0       20190601    0  0500VDE00100     2  431   -1.00    1.3  0500
1       20190601    0  0500VDE00100     1  179  107.44    1.3  0500
2       20190601    0  0500VDE00100     3  351  120.14    1.3  0500
3       20190601    0  0500VDE00200     2  472  100.33    2.3  0500
4       20190601    0  0500VDE00200     1  306   95.75    2.3  0500
...          ...  ...           ...   ...  ...     ...    ...   ...
925195  20190630   23  0500VDS19200     1   41  110.43  231.1  0500
925196  20190630   23  0500VDS19200     3    8   65.87  231.1  0500
925197  20190630   23  0500VDS19300     2   98   93.72  232.3  0500
925198  20190630   23  0500VDS19300     1   51  110.65  232.3  0500
925199  20190630   23  0500VDS19300     3   17   80.81  232.3  0500

[925200 rows x 8 columns]

In [46]:
영동선_final=pd.merge(영동선,distance_final_영동,how='left',on="VDS_ID")

In [47]:
영동선_final

            집계일자  집계시        VDS_ID  차로번호  교통량  평균통행속도   지점이정  도로번호   거리
0       20190601    0  0500VDE00100     2  431   -1.00    1.3  0500  1.3
1       20190601    0  0500VDE00100     1  179  107.44    1.3  0500  1.3
2       20190601    0  0500VDE00100     3  351  120.14    1.3  0500  1.3
3       20190601    0  0500VDE00200     2  472  100.33    2.3  0500  1.0
4       20190601    0  0500VDE00200     1  306   95.75    2.3  0500  1.0
...          ...  ...           ...   ...  ...     ...    ...   ...  ...
925195  20190630   23  0500VDS19200     1   41  110.43  231.1  0500  1.2
925196  20190630   23  0500VDS19200     3    8   65.87  231.1  0500  1.2
925197  20190630   23  0500VDS19300     2   98   93.72  232.3  0500  1.2
925198  20190630   23  0500VDS19300     1   51  110.65  232.3  0500  1.2
925199  20190630   23  0500VDS19300     3   17   80.81  232.3  0500  1.2

[925200 rows x 9 columns]

### 3) 수도권제1순환선

In [48]:
수도권제1순환선

            집계일자  집계시        VDS_ID  차로번호  교통량  평균통행속도   지점이정  도로번호
0       20190601    0  1000VDE00100     2  357  114.76    0.1  1000
1       20190601    0  1000VDE00100     1  250  123.46    0.1  1000
2       20190601    0  1000VDE00100     3  228  101.97    0.1  1000
3       20190601    0  1000VDE00100     4   69   91.04    0.1  1000
4       20190601    0  1000VDE00200     2  510  101.15    1.6  1000
...          ...  ...           ...   ...  ...     ...    ...   ...
746299  20190630   23  1000VDS07400     4  240   94.44  125.2  1000
746300  20190630   23  1000VDS07500     2  573  100.64  127.2  1000
746301  20190630   23  1000VDS07500     1  510  111.75  127.2  1000
746302  20190630   23  1000VDS07500     3  438   96.73  127.2  1000
746303  20190630   23  1000VDS07500     4  254   86.79  127.2  1000

[746304 rows x 8 columns]

In [49]:
수도권제1순환선_final=pd.merge(수도권제1순환선,distance_final_순환,how='left',on="VDS_ID")

In [50]:
수도권제1순환선_final

            집계일자  집계시        VDS_ID  차로번호  교통량  평균통행속도   지점이정  도로번호   거리
0       20190601    0  1000VDE00100     2  357  114.76    0.1  1000  0.1
1       20190601    0  1000VDE00100     1  250  123.46    0.1  1000  0.1
2       20190601    0  1000VDE00100     3  228  101.97    0.1  1000  0.1
3       20190601    0  1000VDE00100     4   69   91.04    0.1  1000  0.1
4       20190601    0  1000VDE00200     2  510  101.15    1.6  1000  1.5
...          ...  ...           ...   ...  ...     ...    ...   ...  ...
746299  20190630   23  1000VDS07400     4  240   94.44  125.2  1000  0.8
746300  20190630   23  1000VDS07500     2  573  100.64  127.2  1000  2.0
746301  20190630   23  1000VDS07500     1  510  111.75  127.2  1000  2.0
746302  20190630   23  1000VDS07500     3  438   96.73  127.2  1000  2.0
746303  20190630   23  1000VDS07500     4  254   86.79  127.2  1000  2.0

[746304 rows x 9 columns]

# 4. 평일/주말 나누기

## 4-1. 집계일자를 datetime형식으로 변환

In [51]:
import datetime
#경부선
경부선_final['집계일자'] = 경부선_final['집계일자'].astype(str)
경부선_final['집계일자'] = 경부선_final['집계일자'].map(lambda x : datetime.datetime.strptime(x,"%Y%m%d"))

In [52]:
# 영동선
영동선_final['집계일자'] = 영동선_final['집계일자'].astype(str)
영동선_final['집계일자'] = 영동선_final['집계일자'].map(lambda x : datetime.datetime.strptime(x,"%Y%m%d"))

In [53]:
# 수도권제1순환선
수도권제1순환선_final['집계일자'] = 수도권제1순환선_final['집계일자'].astype(str)
수도권제1순환선_final['집계일자'] = 수도권제1순환선_final['집계일자'].map(lambda x : datetime.datetime.strptime(x,"%Y%m%d"))

## 4-2. 요일 변수 생성

In [54]:
# 경부선
days = ['월요일','화요일','수요일','목요일','금요일','토요일','일요일']

import pandas as pd
import numpy as np
import datetime

경부선_final['요일'] = 경부선_final['집계일자'].map(lambda x : days[datetime.date(x.year,x.month,x.day).weekday()])

경부선_final

,집계일자,집계시,VDS_ID,차로번호,교통량,평균통행속도,지점이정,도로번호,거리,요일
0,2019-06-01,0,0010VDE00100,2,225,-1.00,1.40,0010,1.40,토요일
1,2019-06-01,0,0010VDE00100,1,120,-1.00,1.40,0010,1.40,토요일
2,2019-06-01,0,0010VDE00100,3,81,101.61,1.40,0010,1.40,토요일
3,2019-06-01,0,0010VDE00200,2,209,-1.00,2.40,0010,1.00,토요일
4,2019-06-01,0,0010VDE00200,1,142,95.66,2.40,0010,1.00,토요일
...,...,...,...,...,...,...,...,...,...,...
2054577,2019-06-30,23,0010VDS32503,2,-1,-1.00,422.37,0010,1.36,일요일
2054578,2019-06-30,23,0010VDS32503,1,-1,-1.00,422.37,0010,1.36,일요일
2054579,2019-06-30,23,0010VDS32503,3,-1,-1.00,422.37,0010,1.36,일요일
2054580,2019-06-30,23,0010VDS32503,4,-1,-1.00,422.37,0010,1.36,일요일
2054581,2019-06-30,23,0010VDS32503,5,-1,-1.00,422.37,0010,1.36,일요일

In [55]:
# 영동선
days = ['월요일','화요일','수요일','목요일','금요일','토요일','일요일']

import pandas as pd
import numpy as np
import datetime

영동선_final['요일'] = 영동선_final['집계일자'].map(lambda x : days[datetime.date(x.year,x.month,x.day).weekday()])

영동선_final

             집계일자  집계시        VDS_ID  차로번호  교통량  평균통행속도   지점이정  도로번호   거리   요일
0      2019-06-01    0  0500VDE00100     2  431   -1.00    1.3  0500  1.3  토요일
1      2019-06-01    0  0500VDE00100     1  179  107.44    1.3  0500  1.3  토요일
2      2019-06-01    0  0500VDE00100     3  351  120.14    1.3  0500  1.3  토요일
3      2019-06-01    0  0500VDE00200     2  472  100.33    2.3  0500  1.0  토요일
4      2019-06-01    0  0500VDE00200     1  306   95.75    2.3  0500  1.0  토요일
...           ...  ...           ...   ...  ...     ...    ...   ...  ...  ...
925195 2019-06-30   23  0500VDS19200     1   41  110.43  231.1  0500  1.2  일요일
925196 2019-06-30   23  0500VDS19200     3    8   65.87  231.1  0500  1.2  일요일
925197 2019-06-30   23  0500VDS19300     2   98   93.72  232.3  0500  1.2  일요일
925198 2019-06-30   23  0500VDS19300     1   51  110.65  232.3  0500  1.2  일요일
925199 2019-06-30   23  0500VDS19300     3   17   80.81  232.3  0500  1.2  일요일

[925200 rows x 10 columns]

In [56]:
# 수도권제1순환선
days = ['월요일','화요일','수요일','목요일','금요일','토요일','일요일']

import pandas as pd
import numpy as np
import datetime

수도권제1순환선_final['요일'] = 수도권제1순환선_final['집계일자'].map(lambda x : days[datetime.date(x.year,x.month,x.day).weekday()])

수도권제1순환선_final

             집계일자  집계시        VDS_ID  차로번호  교통량  평균통행속도   지점이정  도로번호   거리   요일
0      2019-06-01    0  1000VDE00100     2  357  114.76    0.1  1000  0.1  토요일
1      2019-06-01    0  1000VDE00100     1  250  123.46    0.1  1000  0.1  토요일
2      2019-06-01    0  1000VDE00100     3  228  101.97    0.1  1000  0.1  토요일
3      2019-06-01    0  1000VDE00100     4   69   91.04    0.1  1000  0.1  토요일
4      2019-06-01    0  1000VDE00200     2  510  101.15    1.6  1000  1.5  토요일
...           ...  ...           ...   ...  ...     ...    ...   ...  ...  ...
746299 2019-06-30   23  1000VDS07400     4  240   94.44  125.2  1000  0.8  일요일
746300 2019-06-30   23  1000VDS07500     2  573  100.64  127.2  1000  2.0  일요일
746301 2019-06-30   23  1000VDS07500     1  510  111.75  127.2  1000  2.0  일요일
746302 2019-06-30   23  1000VDS07500     3  438   96.73  127.2  1000  2.0  일요일
746303 2019-06-30   23  1000VDS07500     4  254   86.79  127.2  1000  2.0  일요일

[746304 rows x 10 columns]

## 4-3. 평일, 주말 변수 나누기

In [57]:
# 경부선
경부선_final['평일/주말'] = 경부선_final['요일'].map(lambda x : "주말" if (x=="토요일")|(x=="일요일") else "평일")
경부선_final

,집계일자,집계시,VDS_ID,차로번호,교통량,평균통행속도,지점이정,도로번호,거리,요일,평일/주말
0,2019-06-01,0,0010VDE00100,2,225,-1.00,1.40,0010,1.40,토요일,주말
1,2019-06-01,0,0010VDE00100,1,120,-1.00,1.40,0010,1.40,토요일,주말
2,2019-06-01,0,0010VDE00100,3,81,101.61,1.40,0010,1.40,토요일,주말
3,2019-06-01,0,0010VDE00200,2,209,-1.00,2.40,0010,1.00,토요일,주말
4,2019-06-01,0,0010VDE00200,1,142,95.66,2.40,0010,1.00,토요일,주말
...,...,...,...,...,...,...,...,...,...,...,...
2054577,2019-06-30,23,0010VDS32503,2,-1,-1.00,422.37,0010,1.36,일요일,주말
2054578,2019-06-30,23,0010VDS32503,1,-1,-1.00,422.37,0010,1.36,일요일,주말
2054579,2019-06-30,23,0010VDS32503,3,-1,-1.00,422.37,0010,1.36,일요일,주말
2054580,2019-06-30,23,0010VDS32503,4,-1,-1.00,422.37,0010,1.36,일요일,주말
2054581,2019-06-30,23,0010VDS32503,5,-1,-1.00,422.37,0010,1.36,일요일,주말

In [58]:
# 영동선
영동선_final['평일/주말'] = 영동선_final['요일'].map(lambda x : "주말" if (x=="토요일")|(x=="일요일") else "평일")
영동선_final

,집계일자,집계시,VDS_ID,차로번호,교통량,평균통행속도,지점이정,도로번호,거리,요일,평일/주말
0,2019-06-01,0,0500VDE00100,2,431,-1.00,1.3,0500,1.3,토요일,주말
1,2019-06-01,0,0500VDE00100,1,179,107.44,1.3,0500,1.3,토요일,주말
2,2019-06-01,0,0500VDE00100,3,351,120.14,1.3,0500,1.3,토요일,주말
3,2019-06-01,0,0500VDE00200,2,472,100.33,2.3,0500,1.0,토요일,주말
4,2019-06-01,0,0500VDE00200,1,306,95.75,2.3,0500,1.0,토요일,주말
...,...,...,...,...,...,...,...,...,...,...,...
925195,2019-06-30,23,0500VDS19200,1,41,110.43,231.1,0500,1.2,일요일,주말
925196,2019-06-30,23,0500VDS19200,3,8,65.87,231.1,0500,1.2,일요일,주말
925197,2019-06-30,23,0500VDS19300,2,98,93.72,232.3,0500,1.2,일요일,주말
925198,2019-06-30,23,0500VDS19300,1,51,110.65,232.3,0500,1.2,일요일,주말
925199,2019-06-30,23,0500VDS19300,3,17,80.81,232.3,0500,1.2,일요일,주말

In [59]:
# 제1순환고속도로
수도권제1순환선_final['평일/주말'] = 수도권제1순환선_final['요일'].map(lambda x : "주말" if (x=="토요일")|(x=="일요일") else "평일")
수도권제1순환선_final

,집계일자,집계시,VDS_ID,차로번호,교통량,평균통행속도,지점이정,도로번호,거리,요일,평일/주말
0,2019-06-01,0,1000VDE00100,2,357,114.76,0.1,1000,0.1,토요일,주말
1,2019-06-01,0,1000VDE00100,1,250,123.46,0.1,1000,0.1,토요일,주말
2,2019-06-01,0,1000VDE00100,3,228,101.97,0.1,1000,0.1,토요일,주말
3,2019-06-01,0,1000VDE00100,4,69,91.04,0.1,1000,0.1,토요일,주말
4,2019-06-01,0,1000VDE00200,2,510,101.15,1.6,1000,1.5,토요일,주말
...,...,...,...,...,...,...,...,...,...,...,...
746299,2019-06-30,23,1000VDS07400,4,240,94.44,125.2,1000,0.8,일요일,주말
746300,2019-06-30,23,1000VDS07500,2,573,100.64,127.2,1000,2.0,일요일,주말
746301,2019-06-30,23,1000VDS07500,1,510,111.75,127.2,1000,2.0,일요일,주말
746302,2019-06-30,23,1000VDS07500,3,438,96.73,127.2,1000,2.0,일요일,주말
746303,2019-06-30,23,1000VDS07500,4,254,86.79,127.2,1000,2.0,일요일,주말

# 5. 버스전용차로 데이터 합치기

In [60]:
버스전용차로 = data1.iloc[:,[0,1,2,4,6]]
버스전용차로['collectDate'] = 버스전용차로['collectDate'].astype(str)
버스전용차로['collectDate'] = 버스전용차로['collectDate'].map(lambda x : datetime.datetime.strptime(x,"%Y%m%d"))

<ipython-input-60-a44f69ed5587>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  버스전용차로['collectDate'] = 버스전용차로['collectDate'].astype(str)
<ipython-input-60-a44f69ed5587>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  버스전용차로['collectDate'] = 버스전용차로['collectDate'].map(lambda x : datetime.datetime.strptime(x,"%Y%m%d"))

In [61]:
버스전용차로.columns= ["집계일자","집계시","VDS_ID","conzoneName","버스차로"]

## 5-1. 경부선

In [62]:
경부선_버스전용차로 = 버스전용차로[버스전용차로['VDS_ID'].str.contains('0010VD')]

경부선_버스전용차로 = pd.DataFrame(경부선_버스전용차로.groupby("VDS_ID")['집계시'].count())
경부선_버스전용차로 = 경부선_버스전용차로.reset_index()

경부선_버스전용차로['버스전용차로'] = 1

경부선_final_버스전용차로 = pd.merge(경부선_final, 경부선_버스전용차로, how='left', on=["VDS_ID"])

# 버스전용차로가 아니면 0 값 집어넣기

경부선_final_버스전용차로["버스전용차로"] = 경부선_final_버스전용차로["버스전용차로"].fillna(0)
경부선_final_버스전용차로

,집계일자,집계시_x,VDS_ID,차로번호,교통량,평균통행속도,지점이정,도로번호,거리,요일,평일/주말,집계시_y,버스전용차로
0,2019-06-01,0,0010VDE00100,2,225,-1.00,1.40,0010,1.40,토요일,주말,NaN,0.0
1,2019-06-01,0,0010VDE00100,1,120,-1.00,1.40,0010,1.40,토요일,주말,NaN,0.0
2,2019-06-01,0,0010VDE00100,3,81,101.61,1.40,0010,1.40,토요일,주말,NaN,0.0
3,2019-06-01,0,0010VDE00200,2,209,-1.00,2.40,0010,1.00,토요일,주말,NaN,0.0
4,2019-06-01,0,0010VDE00200,1,142,95.66,2.40,0010,1.00,토요일,주말,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2054577,2019-06-30,23,0010VDS32503,2,-1,-1.00,422.37,0010,1.36,일요일,주말,420.0,1.0
2054578,2019-06-30,23,0010VDS32503,1,-1,-1.00,422.37,0010,1.36,일요일,주말,420.0,1.0
2054579,2019-06-30,23,0010VDS32503,3,-1,-1.00,422.37,0010,1.36,일요일,주말,420.0,1.0
2054580,2019-06-30,23,0010VDS32503,4,-1,-1.00,422.37,0010,1.36,일요일,주말,420.0,1.0
2054581,2019-06-30,23,0010VDS32503,5,-1,-1.00,422.37,0010,1.36,일요일,주말,420.0,1.0

## 5-2. 영동선

In [63]:
영동선_버스전용차로 = 버스전용차로[버스전용차로['VDS_ID'].str.contains('0500VD')]

영동선_버스전용차로 = pd.DataFrame(영동선_버스전용차로.groupby("VDS_ID")['집계시'].count())
영동선_버스전용차로 = 영동선_버스전용차로.reset_index()

영동선_버스전용차로['버스전용차로'] = 1

영동선_final_버스전용차로 = pd.merge(영동선_final, 영동선_버스전용차로, how='left', on=["VDS_ID"])

# 버스전용차로가 아니면 0 값 집어넣기
영동선_final_버스전용차로["버스전용차로"] = 영동선_final_버스전용차로["버스전용차로"].fillna(0)
영동선_final_버스전용차로

,집계일자,집계시_x,VDS_ID,차로번호,교통량,평균통행속도,지점이정,도로번호,거리,요일,평일/주말,집계시_y,버스전용차로
0,2019-06-01,0,0500VDE00100,2,431,-1.00,1.3,0500,1.3,토요일,주말,NaN,0.0
1,2019-06-01,0,0500VDE00100,1,179,107.44,1.3,0500,1.3,토요일,주말,NaN,0.0
2,2019-06-01,0,0500VDE00100,3,351,120.14,1.3,0500,1.3,토요일,주말,NaN,0.0
3,2019-06-01,0,0500VDE00200,2,472,100.33,2.3,0500,1.0,토요일,주말,NaN,0.0
4,2019-06-01,0,0500VDE00200,1,306,95.75,2.3,0500,1.0,토요일,주말,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
925195,2019-06-30,23,0500VDS19200,1,41,110.43,231.1,0500,1.2,일요일,주말,NaN,0.0
925196,2019-06-30,23,0500VDS19200,3,8,65.87,231.1,0500,1.2,일요일,주말,NaN,0.0
925197,2019-06-30,23,0500VDS19300,2,98,93.72,232.3,0500,1.2,일요일,주말,NaN,0.0
925198,2019-06-30,23,0500VDS19300,1,51,110.65,232.3,0500,1.2,일요일,주말,NaN,0.0
925199,2019-06-30,23,0500VDS19300,3,17,80.81,232.3,0500,1.2,일요일,주말,NaN,0.0

## 5-3. 수도권제1순환선

In [64]:
수도권제1순환선_버스전용차로 = 버스전용차로[버스전용차로['VDS_ID'].str.contains('1000VD')]

수도권제1순환선_버스전용차로 = pd.DataFrame(수도권제1순환선_버스전용차로.groupby("VDS_ID")['집계시'].count())
수도권제1순환선_버스전용차로 = 수도권제1순환선_버스전용차로.reset_index()

수도권제1순환선_버스전용차로['버스전용차로'] = 1

수도권제1순환선_final_버스전용차로 = pd.merge(수도권제1순환선_final, 수도권제1순환선_버스전용차로, how='left', on=["VDS_ID"])

# 버스전용차로가 아니면 0 값 집어넣기
수도권제1순환선_final_버스전용차로["버스전용차로"] = 수도권제1순환선_final_버스전용차로["버스전용차로"].fillna(0)
수도권제1순환선_final_버스전용차로

,집계일자,집계시_x,VDS_ID,차로번호,교통량,평균통행속도,지점이정,도로번호,거리,요일,평일/주말,집계시_y,버스전용차로
0,2019-06-01,0,1000VDE00100,2,357,114.76,0.1,1000,0.1,토요일,주말,NaN,0.0
1,2019-06-01,0,1000VDE00100,1,250,123.46,0.1,1000,0.1,토요일,주말,NaN,0.0
2,2019-06-01,0,1000VDE00100,3,228,101.97,0.1,1000,0.1,토요일,주말,NaN,0.0
3,2019-06-01,0,1000VDE00100,4,69,91.04,0.1,1000,0.1,토요일,주말,NaN,0.0
4,2019-06-01,0,1000VDE00200,2,510,101.15,1.6,1000,1.5,토요일,주말,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
746299,2019-06-30,23,1000VDS07400,4,240,94.44,125.2,1000,0.8,일요일,주말,NaN,0.0
746300,2019-06-30,23,1000VDS07500,2,573,100.64,127.2,1000,2.0,일요일,주말,NaN,0.0
746301,2019-06-30,23,1000VDS07500,1,510,111.75,127.2,1000,2.0,일요일,주말,NaN,0.0
746302,2019-06-30,23,1000VDS07500,3,438,96.73,127.2,1000,2.0,일요일,주말,NaN,0.0
746303,2019-06-30,23,1000VDS07500,4,254,86.79,127.2,1000,2.0,일요일,주말,NaN,0.0

# 6. 평일, 주말 나누기

1. 경부고속도로 버스전용차로 

    평일 : 오산IC ~ 한남대교남단 (07:00 ~ 21:00)
    
    주말 : 신탄진IC ~ 한남대교남단 (07:00 ~ 21:00)
    
    
2. 영동고속도로 버스전용차로

    주말 : 신갈JC ~ 호법JC (07:00 ~ 21:00)

## 6-1. 콘존명 변수 추가하기
경부선의 경우 평일과 주말에 콘존 범위가 다름

In [65]:
import pandas as pd
콘존 = pd.read_csv("C:/python/2-1. 원본데이터/13. 차로별 운영속도/차로별 운영속도 201906/VDS_차로별+운영속도_1일_1일_20190601/20190601.txt",encoding="EUC-KR",sep="|")
콘존=pd.DataFrame(콘존.groupby(["VDS_ID","콘존명"])["차로"].count()).reset_index().iloc[:,[0,1]]

### 1) 경부선

In [66]:
경부선_콘존 = 콘존[콘존['VDS_ID'].str.contains('0010VD')]

경부선_final_버스전용차로_콘존 = pd.merge(경부선_final_버스전용차로, 경부선_콘존, how='left', on=["VDS_ID"])

경부선_평일 = 경부선_final_버스전용차로_콘존[경부선_final_버스전용차로_콘존["평일/주말"]=="평일"]
경부선_주말 = 경부선_final_버스전용차로_콘존[경부선_final_버스전용차로_콘존["평일/주말"]=="주말"]

### 2) 영동선

In [67]:
영동선_콘존 = 콘존[콘존['VDS_ID'].str.contains('0500VD')]

영동선_final_버스전용차로_콘존 = pd.merge(영동선_final_버스전용차로, 영동선_콘존, how='left', on=["VDS_ID"])

영동선_평일 = 영동선_final_버스전용차로_콘존[영동선_final_버스전용차로_콘존["평일/주말"]=="평일"]
영동선_주말 = 영동선_final_버스전용차로_콘존[영동선_final_버스전용차로_콘존["평일/주말"]=="주말"]

### 3) 수도권제1순환선

In [68]:
수도권제1순환선_콘존 = 콘존[콘존['VDS_ID'].str.contains('1000VD')]

수도권제1순환선_final_버스전용차로_콘존 = pd.merge(수도권제1순환선_final_버스전용차로, 수도권제1순환선_콘존, how='left', on=["VDS_ID"])

수도권제1순환선_평일 = 수도권제1순환선_final_버스전용차로_콘존[수도권제1순환선_final_버스전용차로_콘존["평일/주말"]=="평일"]
수도권제1순환선_주말 = 수도권제1순환선_final_버스전용차로_콘존[수도권제1순환선_final_버스전용차로_콘존["평일/주말"]=="주말"]

# 7. 도로별 평일/주말별 평균 통행속도

## 7-1. 도로별 평일/주말별 평균 통행속도 변수 생성

### 1-1) 경부선_평일

In [69]:
경부선_평일.sort_values(by=["집계일자","집계시_x","VDS_ID","차로번호"],inplace=True)

경부선_평일.reset_index(drop=True,inplace=True)

# 교통량 , 평균통행속도 이상치(-1, 0) 등을 평균 값으로 대체
경부선_평일["교통량"] = 경부선_평일["교통량"].replace(-1,경부선_평일["교통량"].mean())
경부선_평일["평균통행속도"] = 경부선_평일["평균통행속도"].replace(-1,경부선_평일["평균통행속도"].mean())
경부선_평일["평균통행속도"] = 경부선_평일["평균통행속도"].replace(0,경부선_평일["평균통행속도"].mean())

경부선_평일['평균통행시간'] = 경부선_평일["거리"]/경부선_평일["평균통행속도"]*3600

<ipython-input-69-ce1118707e08>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  경부선_평일.sort_values(by=["집계일자","집계시_x","VDS_ID","차로번호"],inplace=True)
<ipython-input-69-ce1118707e08>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  경부선_평일["교통량"] = 경부선_평일["교통량"].replace(-1,경부선_평일["교통량"].mean())
<ipython-input-69-ce1118707e08>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  경부선_평일["평균통행속도"] = 경부선_평일["평균통행속도"].replace(-1,경부선_평일["평균통행속도"].mean())
<ipython-input-69-ce1118707e08>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  경부선_평일["평균통행속도"] = 경부선_평일["평균통행속도"].replace(0,경부선_평일["평균통행속도"].mean())
<ipython-input-69-ce1118707e08>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  경부선_평일['평균통행시간'] = 경부선_평일["거리"]/경부선_평일["평균통행속도"]*3600

### 1-2) 경부선_주말

In [70]:
경부선_주말.sort_values(by=["집계일자","집계시_x","VDS_ID","차로번호"],inplace=True)

경부선_주말.reset_index(drop=True,inplace=True)

# 교통량 , 평균통행속도 이상치(-1, 0) 등을 평균 값으로 대체
경부선_주말["교통량"] = 경부선_주말["교통량"].replace(-1,경부선_주말["교통량"].mean())
경부선_주말["평균통행속도"] = 경부선_주말["평균통행속도"].replace(-1,경부선_주말["평균통행속도"].mean())
경부선_주말["평균통행속도"] = 경부선_주말["평균통행속도"].replace(0,경부선_주말["평균통행속도"].mean())

경부선_주말['평균통행시간'] = 경부선_주말["거리"]/경부선_주말["평균통행속도"]*3600

<ipython-input-70-8026e1c71f82>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  경부선_주말.sort_values(by=["집계일자","집계시_x","VDS_ID","차로번호"],inplace=True)
<ipython-input-70-8026e1c71f82>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  경부선_주말["교통량"] = 경부선_주말["교통량"].replace(-1,경부선_주말["교통량"].mean())
<ipython-input-70-8026e1c71f82>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  경부선_주말["평균통행속도"] = 경부선_주말["평균통행속도"].replace(-1,경부선_주말["평균통행속도"].mean())
<ipython-input-70-8026e1c71f82>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  경부선_주말["평균통행속도"] = 경부선_주말["평균통행속도"].replace(0,경부선_주말["평균통행속도"].mean())
<ipython-input-70-8026e1c71f82>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  경부선_주말['평균통행시간'] = 경부선_주말["거리"]/경부선_주말["평균통행속도"]*3600

### 2-1) 영동선_평일

In [71]:
영동선_평일.sort_values(by=["집계일자","집계시_x","VDS_ID","차로번호"],inplace=True)

영동선_평일.reset_index(drop=True,inplace=True)

# 교통량 , 평균통행속도 이상치(-1, 0) 등을 평균 값으로 대체
영동선_평일["교통량"] = 영동선_평일["교통량"].replace(-1,영동선_평일["교통량"].mean())
영동선_평일["평균통행속도"] = 영동선_평일["평균통행속도"].replace(-1,영동선_평일["평균통행속도"].mean())
영동선_평일["평균통행속도"] = 영동선_평일["평균통행속도"].replace(0,영동선_평일["평균통행속도"].mean())

영동선_평일['평균통행시간'] = 영동선_평일["거리"]/영동선_평일["평균통행속도"]*3600

<ipython-input-71-f882f18eca2f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  영동선_평일.sort_values(by=["집계일자","집계시_x","VDS_ID","차로번호"],inplace=True)
<ipython-input-71-f882f18eca2f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  영동선_평일["교통량"] = 영동선_평일["교통량"].replace(-1,영동선_평일["교통량"].mean())
<ipython-input-71-f882f18eca2f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  영동선_평일["평균통행속도"] = 영동선_평일["평균통행속도"].replace(-1,영동선_평일["평균통행속도"].mean())
<ipython-input-71-f882f18eca2f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  영동선_평일["평균통행속도"] = 영동선_평일["평균통행속도"].replace(0,영동선_평일["평균통행속도"].mean())
<ipython-input-71-f882f18eca2f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  영동선_평일['평균통행시간'] = 영동선_평일["거리"]/영동선_평일["평균통행속도"]*3600

### 2-2) 영동선_주말

In [72]:
영동선_주말.sort_values(by=["집계일자","집계시_x","VDS_ID","차로번호"],inplace=True)

영동선_주말.reset_index(drop=True,inplace=True)

# 교통량 , 평균통행속도 이상치(-1, 0) 등을 평균 값으로 대체
영동선_주말["교통량"] = 영동선_주말["교통량"].replace(-1,영동선_주말["교통량"].mean())
영동선_주말["평균통행속도"] = 영동선_주말["평균통행속도"].replace(-1,영동선_주말["평균통행속도"].mean())
영동선_주말["평균통행속도"] = 영동선_주말["평균통행속도"].replace(0,영동선_주말["평균통행속도"].mean())

영동선_주말['평균통행시간'] = 영동선_주말["거리"]/영동선_주말["평균통행속도"]*3600

<ipython-input-72-b942854c235b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  영동선_주말.sort_values(by=["집계일자","집계시_x","VDS_ID","차로번호"],inplace=True)
<ipython-input-72-b942854c235b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  영동선_주말["교통량"] = 영동선_주말["교통량"].replace(-1,영동선_주말["교통량"].mean())
<ipython-input-72-b942854c235b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  영동선_주말["평균통행속도"] = 영동선_주말["평균통행속도"].replace(-1,영동선_주말["평균통행속도"].mean())
<ipython-input-72-b942854c235b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  영동선_주말["평균통행속도"] = 영동선_주말["평균통행속도"].replace(0,영동선_주말["평균통행속도"].mean())
<ipython-input-72-b942854c235b>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  영동선_주말['평균통행시간'] = 영동선_주말["거리"]/영동선_주말["평균통행속도"]*3600

### 3-1) 수도권제1순환선_평일

In [73]:
수도권제1순환선_평일.sort_values(by=["집계일자","집계시_x","VDS_ID","차로번호"],inplace=True)

수도권제1순환선_평일.reset_index(drop=True,inplace=True)

# 교통량 , 평균통행속도 이상치(-1, 0) 등을 평균 값으로 대체
수도권제1순환선_평일["교통량"] = 수도권제1순환선_평일["교통량"].replace(-1,수도권제1순환선_평일["교통량"].mean())
수도권제1순환선_평일["평균통행속도"] = 수도권제1순환선_평일["평균통행속도"].replace(-1,수도권제1순환선_평일["평균통행속도"].mean())
수도권제1순환선_평일["평균통행속도"] = 수도권제1순환선_평일["평균통행속도"].replace(0,수도권제1순환선_평일["평균통행속도"].mean())

수도권제1순환선_평일['평균통행시간'] = 수도권제1순환선_평일["거리"]/수도권제1순환선_평일["평균통행속도"]*3600

<ipython-input-73-c4f9eba6b6e1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  수도권제1순환선_평일.sort_values(by=["집계일자","집계시_x","VDS_ID","차로번호"],inplace=True)
<ipython-input-73-c4f9eba6b6e1>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  수도권제1순환선_평일["교통량"] = 수도권제1순환선_평일["교통량"].replace(-1,수도권제1순환선_평일["교통량"].mean())
<ipython-input-73-c4f9eba6b6e1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  수도권제1순환선_평일["평균통행속도"] = 수도권제1순환선_평일["평균통행속도"].replace(-1,수도권제1순환선_평일["평균통행속도"].mean())
<ipython-input-73-c4f9eba6b6e1>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  수도권제1순환선_평일["평균통행속도"] = 수도권제1순환선_평일["평균통행속도"].replace(0,수도권제1순환선_평일["평균통행속도"].mean())
<ipython-input-73-c4f9eba6b6e1>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  수도권제1순환선_평일['평균통행시간'] = 수도권제1순환선_평일["거리"]/수도권제1순환선_평일["평균통행속도"]*3600

### 3-2) 수도권제1순환선_주말

In [74]:
수도권제1순환선_주말.sort_values(by=["집계일자","집계시_x","VDS_ID","차로번호"],inplace=True)

수도권제1순환선_주말.reset_index(drop=True,inplace=True)

# 교통량 , 평균통행속도 이상치(-1, 0) 등을 평균 값으로 대체
수도권제1순환선_주말["교통량"] = 수도권제1순환선_주말["교통량"].replace(-1,수도권제1순환선_주말["교통량"].mean())
수도권제1순환선_주말["평균통행속도"] = 수도권제1순환선_주말["평균통행속도"].replace(-1,수도권제1순환선_주말["평균통행속도"].mean())
수도권제1순환선_주말["평균통행속도"] = 수도권제1순환선_주말["평균통행속도"].replace(0,수도권제1순환선_주말["평균통행속도"].mean())

수도권제1순환선_주말['평균통행시간'] = 수도권제1순환선_주말["거리"]/수도권제1순환선_주말["평균통행속도"]*3600

<ipython-input-74-8a1b5cda75aa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  수도권제1순환선_주말.sort_values(by=["집계일자","집계시_x","VDS_ID","차로번호"],inplace=True)
<ipython-input-74-8a1b5cda75aa>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  수도권제1순환선_주말["교통량"] = 수도권제1순환선_주말["교통량"].replace(-1,수도권제1순환선_주말["교통량"].mean())
<ipython-input-74-8a1b5cda75aa>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  수도권제1순환선_주말["평균통행속도"] = 수도권제1순환선_주말["평균통행속도"].replace(-1,수도권제1순환선_주말["평균통행속도"].mean())
<ipython-input-74-8a1b5cda75aa>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  수도권제1순환선_주말["평균통행속도"] = 수도권제1순환선_주말["평균통행속도"].replace(0,수도권제1순환선_주말["평균통행속도"].mean())
<ipython-input-74-8a1b5cda75aa>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  수도권제1순환선_주말['평균통행시간'] = 수도권제1순환선_주말["거리"]/수도권제1순환선_주말["평균통행속도"]*3600

## 7-2. 도로별 평일/주말별 데이터 만들기

### 1-1) 경부선_평일

In [75]:
경부선_버스전용차로_평일=pd.DataFrame(경부선_평일.groupby('VDS_ID')['버스전용차로'].mean()).reset_index()

In [76]:
경부선_1_평일 = 경부선_평일.groupby(["집계일자","집계시_x","VDS_ID"],as_index=False)['교통량'].sum()
경부선_2_평일 = 경부선_평일.groupby(["집계일자","집계시_x","VDS_ID"],as_index=False)[['평균통행속도','평균통행시간','거리']].mean()

경부선_평일_끝 = pd.concat([경부선_1_평일, 경부선_2_평일], axis=1).iloc[:,[0,1,2,3,7,8,9]]

# 콘존명 붙이기
경부선_평일_끝 = pd.merge(경부선_평일_끝, 경부선_콘존, how="left", on="VDS_ID")

# 버스전용차로 붙이기
경부선_평일_끝 = pd.merge(경부선_평일_끝, 경부선_버스전용차로_평일, how="left", on="VDS_ID")

# 컬럼명 변경
경부선_평일_끝 = 경부선_평일_끝.rename(columns={'집계시_x':'집계시'})

경부선_평일_끝.to_csv("C:/python/2-1. 정제데이터/경부선_평일_원본.csv",encoding="EUC-KR")

### 1-2) 경부선_주말

In [77]:
경부선_버스전용차로_주말=pd.DataFrame(경부선_주말.groupby('VDS_ID')['버스전용차로'].mean()).reset_index()

In [78]:
경부선_1_주말 = 경부선_주말.groupby(["집계일자","집계시_x","VDS_ID"],as_index=False)['교통량'].sum()
경부선_2_주말 = 경부선_주말.groupby(["집계일자","집계시_x","VDS_ID"],as_index=False)[['평균통행속도','평균통행시간','거리']].mean()

경부선_주말_끝 = pd.concat([경부선_1_주말, 경부선_2_주말], axis=1).iloc[:,[0,1,2,3,7,8,9]]

# 콘존명 붙이기
경부선_주말_끝 = pd.merge(경부선_주말_끝, 경부선_콘존, how="left", on="VDS_ID")
경부선_주말_끝

# 버스전용차로 붙이기
경부선_주말_끝 = pd.merge(경부선_주말_끝, 경부선_버스전용차로_주말, how="left", on="VDS_ID")

# 컬럼명 변경
경부선_주말_끝 = 경부선_주말_끝.rename(columns={'집계시_x':'집계시'})

경부선_주말_끝.to_csv("C:/python/2-1. 정제데이터/경부선_주말_원본.csv",encoding="EUC-KR")

### 2-1) 영동선_평일

In [79]:
영동선_버스전용차로_평일=pd.DataFrame(영동선_평일.groupby('VDS_ID')['버스전용차로'].mean()).reset_index()

In [80]:
영동선_1_평일 = 영동선_평일.groupby(["집계일자","집계시_x","VDS_ID"],as_index=False)['교통량'].sum()
영동선_2_평일 = 영동선_평일.groupby(["집계일자","집계시_x","VDS_ID"],as_index=False)[['평균통행속도','평균통행시간','거리']].mean()

영동선_평일_끝 = pd.concat([영동선_1_평일, 영동선_2_평일], axis=1).iloc[:,[0,1,2,3,7,8,9]]

# 콘존명 붙이기
영동선_평일_끝 = pd.merge(영동선_평일_끝, 영동선_콘존, how="left", on="VDS_ID")
영동선_평일_끝

# 버스전용차로 붙이기
영동선_평일_끝 = pd.merge(영동선_평일_끝, 영동선_버스전용차로_평일, how="left", on="VDS_ID")

# 컬럼명 변경
영동선_평일_끝 = 영동선_평일_끝.rename(columns={'집계시_x':'집계시'})

영동선_평일_끝.to_csv("C:/python/2-1. 정제데이터/영동선_평일_원본.csv",encoding="EUC-KR")

### 2-2) 영동선_주말

In [81]:
영동선_버스전용차로_주말=pd.DataFrame(영동선_주말.groupby('VDS_ID')['버스전용차로'].mean()).reset_index()

In [82]:
영동선_1_주말 = 영동선_주말.groupby(["집계일자","집계시_x","VDS_ID"],as_index=False)['교통량'].sum()
영동선_2_주말 = 영동선_주말.groupby(["집계일자","집계시_x","VDS_ID"],as_index=False)[['평균통행속도','평균통행시간','거리']].mean()

영동선_주말_끝 = pd.concat([영동선_1_주말, 영동선_2_주말], axis=1).iloc[:,[0,1,2,3,7,8,9]]

# 콘존명 붙이기
영동선_주말_끝 = pd.merge(영동선_주말_끝, 영동선_콘존, how="left", on="VDS_ID")
영동선_주말_끝

# 버스전용차로 붙이기
영동선_주말_끝 = pd.merge(영동선_주말_끝, 영동선_버스전용차로_주말, how="left", on="VDS_ID")

# 컬럼명 변경
영동선_주말_끝 = 영동선_주말_끝.rename(columns={'집계시_x':'집계시'})

영동선_주말_끝.to_csv("C:/python/2-1. 정제데이터/영동선_주말_원본.csv",encoding="EUC-KR")

### 3-1) 수도권제1순환선_평일

In [83]:
수도권제1순환선_1_평일 = 수도권제1순환선_평일.groupby(["집계일자","집계시_x","VDS_ID"],as_index=False)['교통량'].sum()
수도권제1순환선_2_평일 = 수도권제1순환선_평일.groupby(["집계일자","집계시_x","VDS_ID"],as_index=False)[['평균통행속도','평균통행시간','거리']].mean()

수도권제1순환선_평일_끝 = pd.concat([수도권제1순환선_1_평일, 수도권제1순환선_2_평일], axis=1).iloc[:,[0,1,2,3,7,8,9]]

# 콘존명 붙이기
수도권제1순환선_평일_끝 = pd.merge(수도권제1순환선_평일_끝, 수도권제1순환선_콘존, how="left", on="VDS_ID")
수도권제1순환선_평일_끝

# 컬럼명 변경
수도권제1순환선_평일_끝 = 수도권제1순환선_평일_끝.rename(columns={'집계시_x':'집계시'})

수도권제1순환선_평일_끝.to_csv("C:/python/2-1. 정제데이터/수도권제1순환선_평일_원본.csv",encoding="EUC-KR")

### 3-2) 수도권제1순환선_주말

In [84]:
수도권제1순환선_1_주말 = 수도권제1순환선_주말.groupby(["집계일자","집계시_x","VDS_ID"],as_index=False)['교통량'].sum()
수도권제1순환선_2_주말 = 수도권제1순환선_주말.groupby(["집계일자","집계시_x","VDS_ID"],as_index=False)[['평균통행속도','평균통행시간','거리']].mean()

수도권제1순환선_주말_끝 = pd.concat([수도권제1순환선_1_주말, 수도권제1순환선_2_주말], axis=1).iloc[:,[0,1,2,3,7,8,9]]

# 콘존명 붙이기
수도권제1순환선_주말_끝 = pd.merge(수도권제1순환선_주말_끝, 수도권제1순환선_콘존, how="left", on="VDS_ID")
수도권제1순환선_주말_끝

# 컬럼명 변경
수도권제1순환선_주말_끝 = 수도권제1순환선_주말_끝.rename(columns={'집계시_x':'집계시'})

수도권제1순환선_주말_끝.to_csv("C:/python/2-1. 정제데이터/수도권제1순환선_주말_원본.csv",encoding="EUC-KR")